<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc 		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context 	http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/security	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd
		http://www.springframework.org/schema/jee 		http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
	
	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/db"/>
	
	<!-- Setup Spring Security -->
	<security:http auto-config='true'>
		<security:intercept-url pattern="/font/**"
			access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER,ROLE_ADMIN" />
		<security:intercept-url pattern="/styles/**"
			access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER,ROLE_ADMIN" />
		<security:intercept-url pattern="/**"
			access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER,ROLE_ADMIN" />

		<security:form-login login-page='/login' />
	</security:http>
	
	<security:authentication-manager>
		<security:authentication-provider ref="daoAuthenticationProvider"/>
	</security:authentication-manager>

	<bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<property name="userDetailsService" ref="userDetailsService"/>
		<property name="passwordEncoder" ref="passwordEncoder"/>
	</bean>   
	
	<bean id="userDetailsService" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
  		<property name="dataSource" ref="dataSource"/>
  		<property name="usersByUsernameQuery">
  			<value>
  			select username,
  				password,
  				'true'
  			from users
  			where username = ?
  			</value>
  		</property>
  		<property name="authoritiesByUsernameQuery">
  			<value>
  				select username,'ROLE_USER' from users where username = ?
  			</value>
  		</property>
	</bean>
	
	<bean id="passwordEncoder" class="chotchki.security.SHA512PasswordEncoding" />
</beans>